<!DOCTYPE html>
<html lang="en">
	
	{% include head.html %}
	
			<body>
				<nav class="nav">
                			<ul class="nav-list">
                    				<li class="nav-item">
                       					<a class="pure-button" href="http://underwriteyourlife.com/mealprep">Meal Prep</a>
                    				</li>
                    				<li class="nav-item">
                        				<a class="pure-button" href="http://underwriteyourlife.com/personalfinance">Personal Finance</a>
                    				</li>
                			</ul>
            			</nav>

				<div class="container">
			
					{{ content }}
			
				</div><!-- /.container -->
			</body>
	
			<footer>

                		<div class="pure-menu pure-menu-horizontal">
                    			<ul>
                        			<li class="pure-menu-item"><a href="underwriteyourlife.com/personalfinance/welcome" class="pure-menu-link">About</a></li>
                        			<li class="pure-menu-item"><a href="mailto:underwriteyourlife@gmail.com" class="pure-menu-link">Email Me</a></li>
                        			<li class="pure-menu-item"><a href="https://github.com/underwriteyourlife" class="pure-menu-link">My GitHub Page</a></li>
                    			</ul>
                		</div>
       
			</footer>
		
</html>
